# Tuple 

Tuples are ordered collection of data items. They store multiple items in a single variable. Tuple items are separated by commas and enclosed within round brackets (). Tuples are unchangeable meaning we can not alter them after creation

# Diffrence Between List and Tuple

| Feature              | List                                         | Tuple                                         |
|----------------------|----------------------------------------------|-----------------------------------------------|
| Mutability           | Mutable (can be changed)                     | Immutable (cannot be changed)                 |
| Syntax               | Defined using [ ] brackets                   | Defined using ( ) parentheses                 |
| Methods              | Many built-in methods (append, remove, etc.) | Fewer built-in methods (count, index)         |
| Performance          | Slower for iteration and access              | Faster for iteration and access               |
| Memory Usage         | Consumes more memory                         | Consumes less memory                          |
| Use Case             | Collections likely to change during run      | Collections meant to stay fixed               |
| Hashability          | Not hashable; cannot be dict keys            | Hashable if elements are hashable             |
| Nesting/Indexing     | Supports both                                | Supports both                                 |
| Ordering             | Ordered                                      | Ordered                                       |
| Duplicates           | Allows duplicates                            | Allows duplicates                             |
| Example              | `[1, 2, 3, "a"]`                             | `(1, 2, 3, "a")`                              |

In [1]:
l = (1,2,3,4,5)
print(l)

details = ("Harry",13,"SVVV")
print(details)

(1, 2, 3, 4, 5)
('Harry', 13, 'SVVV')

# Tuple Index 

Each item/element in a tuple has its own unique index. This index can be used to access any particular item from the tuple. The first item has index [0], second item has index [1], third item has index [2] and so on.

### Positive Indexing

In [ ]:
l = (1,2,3,4,5) 

print(l[0]) 
print(l[1])
print(l[2]) 
print(l[3])
print(l[4])

1
2
3
4
5

### Negative Indexing

In [ ]:
l = (1,2,3,4,5) 

print(l[0]) 
print(l[-1])    # (5-1) = 4 index - 5 
print(l[-2])    # (5-2) = 3 index - 4
print(l[-3])    # (5-3) = 2 index - 3
print(l[-4])    # (5-4) = 1 index - 2

1
5
4
3
2

### Check for item 

We can check if a given item is present in the tuple. This is done using the in keyword.

In [11]:
l = (1,2,3,4,5)

if 1 in l:
    print("1 is Present")
else:
    print("1 is absent")

1 is Present

In [19]:
l = ("Harry","Raj","Ritivik","Mark")

if "Ram" in l:
    print("Ram is present")
else:
    print("Ram is absent")

Ram is absent

### Range of Index

You can print a range of tuple items by specifying where do you want to start, where do you want to end and if you want to skip elements in between the range

Syntax - Tuple[start : end : jumpIndex]

In [ ]:
# Example: Printing elements within a particular range

l = ("Harry","Raj","Ritivik","Mark") 

print(l[0:4])                 # All element
print(l[0:4:2])               # Jumping index by 2

('Harry', 'Raj', 'Ritivik', 'Mark')
('Harry', 'Ritivik')

In [ ]:
# Example: Printing all element from a given index till the end

animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")

print(animals[4:])      #using positive indexes
print(animals[-4:])     #using negative indexes

('pig', 'horse', 'donkey', 'goat', 'cow')
('horse', 'donkey', 'goat', 'cow')

In [ ]:
# Example: printing all elements from start to a given index

animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")

print(animals[:6])      #using positive indexes
print(animals[:-3])     #using negative indexes

('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')
('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')

In [ ]:
# Example: Print alternate values

animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")

print(animals[::2])     #using positive indexes
print(animals[-8:-1:2]) #using negative indexes

('cat', 'bat', 'pig', 'donkey', 'cow')
('dog', 'mouse', 'horse', 'goat')

In [26]:
# Example: printing every 3rd consecutive withing given range

animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")

print(animals[1:8:3])

('dog', 'pig', 'goat')

# Manipulating Tuples

Tuples are immutable, hence if you want to add, remove or change tuple items, then first you must convert the tuple to a list. Then perform operation on that list and convert it back to tuple.

In [1]:
countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

In [ ]:
fruits = ("apple","Bannan","Cherry")
temp = list(fruits)
temp.append("oranges")          # Add Oranges into last
temp.remove("apple")            # Apple hatega toh banana first par aayegaa
fruits=tuple(temp)
print(fruits)

('Bannan', 'Cherry', 'oranges')

# Tuple Methods

### Count() Methods

kitni baar woh element aaya hai tuple mein

Syntax - tuple.count(element)

In [13]:
Number = (1,1,1,2,3,4,5,6,1,2,3,4,1,2,3,4,1,3,4,1,3)
c= Number.count(1)
print(c)

7

### index() method

konse Index pe aa raha hai matlab konsi position 

tuple.index(element, start, end)

In [15]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
c = Tuple.index(3)
print('First occurrence of 3 is', c)

First occurrence of 3 is 3